.hackathon-top-section {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.hackathon-top-section .left-section {
  flex: 1;
}

.hackathon-top-section .right-section {
  flex: 1;
}

.hackathon-top-section .left-section .hackathon-logo {
  max-width: 500px;
}

.hackathon-top-section .left-section .image {
  max-width: 500px;
}

.hackathon-top-section .left-section .tagline h2 {
  font-weight: 500;
  margin-top: 0.5rem;
  font-size: 1.75rem;
}

@media screen and (min-width: 1080px) {
  .hackathon-top-section {
    flex-direction: row;
    width: 1080px;
    align-items: center;
  }

  .hackathon-top-section .right-section {
    margin-bottom: 100px;
    margin-left: 5rem;
  }

  .hackathon-top-section .left-section .image {
    transform: translateX(-5%);
    margin-top: 2rem;
    max-width: 100%;
  }
}

/* @media screen and (min-width: 860px) and (max-width: 1240px) {
} */

@media screen and (max-width: 1080px) {
  .hackathon-top-section {
    flex-direction: column;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    text-align: center;
  }

  .hackathon-top-section .left-section .hackathon-logo {
    width: 100%;
  }

  .hackathon-top-section .left-section .tagline h2 {
    font-weight: 500;
    margin-top: 0.25rem;
    font-size: 1.25rem;
  }

  .hackathon-top-section .left-section .image {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    width: 80%;
  }

  .hackathon-top-section .right-section .counter {
    margin-top: 2rem;
  }
}

/* @media (max-width: 600px) {

}

@media (max-width: 740px) {

} */
