.about-container {
    width: 100%;
    height: 100vh;
    color: #fff;
    background-image: url("../../../Assets/about-bg.png");
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    padding-top: 10%;
  }
  

.col {
    display: flex;
    flex-direction: column;
}


.headerContent {
    font-family: Montserrat;
    /* background-color: yellow; */
    width: 80%;
    margin-left: 5%;
}

.card {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    border-radius: 20px;
    width: 60%;
    background-color: white;
    filter: drop-shadow(20px 15px 40px black);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutText {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 1.8;
    font-weight: 400;
    margin-left: 10%;
}

.wave-d {
    margin-top: -5%;
    width: 100%;
    height: auto;
}


#card-image {
    padding-top: 50px;
    padding-right:10px;
    padding-left:10px;
    padding-bottom: 20px;
}

@media (max-width: 1630px) {
    .aboutText {
        font-size: 14px;
    }

    .card {
        justify-content: center;
        width: 30%;
    }

    #card-image {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .about-container {
        flex-direction: column;
    }

    .aboutText {
        font-size: 13px;
    }

    .card {
        justify-content: center;
        margin-top:15px;
        flex-direction: row;
        width: 70%;
    }

    #card-image {
        width: 30%;
    }
}

@media (max-width: 500px) {
    .about-container {
        flex-direction: column;
    }

    .aboutText {
        font-size: 12px;
    }

    .card {
        justify-content: center;
        margin-top:15px;
        flex-direction: row;
        width: 70%;
    }

    #card-image {
        width: 30%;
    }
}

@media (max-width: 380px) {
    .about-container {
        flex-direction: column;
    }

    .aboutText {
        font-size: 12px;
    }

    .card {
        margin-top:15px;
        flex-direction: row;
        width: 70%;
    }

    #card-image {
        width: 30%;
    }

    @media(max-height: 750px) {
        .card {
            display: none;
        }
    }
}

@media (max-width: 360px) {
}


/* @media only screen and (max-width: 800px) {
    .about-container {
        background-position: center;
        padding-top: 20%;
    }
}

@media only screen and (max-width: 600px) {
    .about-container {
        padding-top: 30%;
        height: auto;
    }
}

@media only screen and (max-width: 350px) {
    .about-container {
        padding-top: 40%;
    }
    .textStyle {
        
        font-size: 16px;
    }
    
} */
