.about-container {
    width: 100%;
    height: 100vh;
    color: #fff;
    background-image: url("../../../Assets/about-bg.png");
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    padding-top: 10%;
  }
  

.col {
    display: flex;
    flex-direction: column;
}


.headerContent {
    font-family: Montserrat;
    /* background-color: yellow; */
    width: 80%;
    margin-left: 5%;
}

.card {
    margin-left: 10%;
    align-self: center;
    margin-right: 10%;
    margin-bottom: 10%;
    border-radius: 20px;
    width: 60%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutText {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    line-height: 1.8;
    font-weight: 400;
    margin-left: 10%;
}
.logo-collection{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
    
}
.our-logo{
    padding-right: 50px;
    width:90%;
    height: 90%
}
.wave-d {
    margin-top: -5%;
    width: 100%;
    height: auto;
}


#card-image {
    padding-top: 30px;
    padding-right:10px;
    padding-left:10px;
    padding-bottom: 30px;
}

@media (max-width: 1630px) {
    .aboutText {
        font-size: 20px;
    }

    .card {
        justify-content: center;
        width: 30%;
    }

    #card-image {
        width: 80%;
    }
   

}

@media (max-width: 1020px) {
    
    .aboutText {
        font-size: 13px;
    }

    .card {
        justify-content: center;
        margin-top:25px;
        flex-direction: row;
        width: 70%;
    }

    #card-image {
        width: 30%;
    }
}
@media (max-width: 1400px) {
    .about-container {
        flex-direction: column;
    }

    .aboutText {
        font-size: 20px;
    }

    .card {
        margin-top:25px;
        flex-direction: row;
        width: 50%;
    }

    #card-image {
        width: 30%;
    }
}
@media (max-width: 1020px) {
    .about-container {
        flex-direction: column;
    }

    .aboutText {
        font-size: 15px;
    }

    .card {
        justify-content: center;
        margin-top:25px;
        flex-direction: row;
        width: 70%;
    }

    #card-image {
        width: 30%;
    }
}

@media (max-width: 480px) {
    .about-container {
        flex-direction: column;
    }

    .aboutText {
        font-size: 12px;
    }

    .card {
        margin-top:15px;
        flex-direction: row;
        width: 70%;
    }

    #card-image {
        width: 30%;
    }

    @media(max-height: 750px) {
        .card {
            display: none;
        }
    }
}

@media (max-width: 330px) and (max-height: 590px) {
    .aboutText {
        font-size: 11px;
    }
}


/* @media only screen and (max-width: 800px) {
    .about-container {
        background-position: center;
        padding-top: 20%;
    }
    .logo-collection{
       
        flex-direction: column;
    }
    .our-logo{
        width: 80%;
        height: 80%;
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .about-container {
        padding-top: 30%;
        height: auto;
    }
}

@media only screen and (max-width: 350px) {
    .about-container {
        padding-top: 40%;
    }
    .textStyle {
        
        font-size: 16px;
    }
    
} */
